body {
    margin-left: 0;
    background-image: url('/asteroid.jpg');
    width: 100%;
}


h1 {
    margin: 1em;
}

input form {
    width: auto;
}

/*.ui.menu {*/
/*    background-color: rgba(72, 98, 173, 1);*/
/*}*/

body {
    color: white;
}

.ui.avatar.image {
    padding: 0;
    width: auto;
    height: auto;
    border: 0;
}

#delete {
    display: inline;
}

two fields {
    width: 50px;
}

#search {
    width: 600px;
    height: 200px;
    margin: 100px auto;
    background-color: rgba(0, 0, 0, 0.6)
    
}