<!DOCTYPE html>
<html>
    <head>
        <title>NASA App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script type="text/javascript" src="assets/js/lib/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
        <link rel='stylesheet' type='text/css' href='/app.css'>
    </head>
    <body>
        <div class='ui inverted segment'>
            <div class='ui large inverted secondary pointing menu'>
                <div class='item'>
                    <a href='/'>
                        <img class='ui tiny circular image' src='/nasa.png' alt='NASA Logo'/>
                    </a>
                </div>
                <a href='/calendar' class='item active'>Calendar</a>
                <a href='/show' class='item'>Show All</a>
                <!--<a href='/show' class='item'>Create</a>-->
                <!--<a href='/players/:id' class='item'>Show</a>-->
                <!--<a href='/edit' class='item'>Edit</a>-->
                <!--<a href='/update' class='item'>Update</a>-->
                <!--<a href='/destroy' class='item'>Destroy</a>-->
            </div>
        </div>
        