<% include partials/header %>

<div class="ui inverted segment" id='search'>
    <div class='ui huge header'>Search NEO's!!</div>
    <form action='/show' method='GET'>
        <div class="ui inverted form">
            <div class="two fields">
                <div class="field">
                    <label>Start Date</label>
                    <input placeholder="YYYY-MM-DD" type="text" name='startDate'>
                </div>
                <div class="field">
                    <label>End Date</label>
                    <input placeholder="YYYY-MM-DD" type="text" name='endDate'>
                </div>
            </div>
            <input type='submit' class='ui inverted black submit button'>
        </div>
    </form>
</div>




<% include partials/footer %>