<% include partials/header %>

<h1>This is the Show Page!!</h1>

<% for(var i = 0; i < body['near_earth_objects'][startDate].length; i++) { %>
    
    <li><%= body['near_earth_objects'][startDate][i].name %></li>
    
<% } %>

<p><%= body['near_earth_objects'][startDate].length %></p>





<% include partials/footer %>